.chores {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.6em;
  color: darkblue;
}

.chores h3 {
  text-decoration: underline;
}

.chores li {
  font-style: italic;
}
